html, body {
    margin: 0;
    height: 100%;
}
#top-nav-bar {
	background-color: white;
	width: 100%;
	height: 100px;
	border-bottom: 5px #30e8eb solid;
	position:relative;
}
#logo-image {
	position:relative;
	z-index: 2;
	width: auto;
	height: 170%;
	margin-top: 30px;
	margin-left: 30px;
	border: 1px lightgrey solid;
	float: left;
}
.nav-button {
	background-color: white;
	border: 2px lightgrey solid;
	height: 40px;
	width: 130px;
	margin: 50px 0 0 10px;
}
#my-start-button {
	background-color: #30e8eb;
	border: none; 
	color: white;
}
#content {
	background-image: url("images/main_background.jpg");
	background-size: cover;
	background-position: top;
	height: 100%;
	width:auto;
}
#bottom-inspiring-line {
	position: fixed;
	bottom: 0;
	left: 0;
	margin-left: 8px;
	color: white;
	font-family:  Arial, Helvetica, sans-serif;\
}